.autohuki {
    transition: opacity .33s;
    display: none;
    z-index: 11;
    position: fixed;
    /* left: 50%;
    top:50%; */
}

.autohuki div {
    transform: translate(-50%, -50%);
}

/* maybe remove after stretch box done*/

.autohuki .b-text {
    height: 124px;
    width: auto;
}

.b-nar-a>div>div:nth-child(1) {
    width: 50px;
    height: 222px;
    background: url(pic/auto/nar/1.png);
    transform: none;
}

.b-nar-a>div>div:nth-child(3) {
    width: auto;
    height: 222px;
    background: url(pic/auto/nar/2.png);
    transform: none;
}

.b-nar-a>div>div:nth-child(4) {
    width: 50px;
    height: 222px;
    background: url(pic/auto/nar/3.png);
    transform: none;
}

.b-nar-a>div>div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%);
}




.b-npc1-a>div>div:nth-child(1) {
    width: 90px;
    height: 222px;
    background: url(pic/auto/npc1/b1.png);
    transform: none;
}
.b-npc1-a>div>div:nth-child(2) {
    width: auto;
    height: 222px;
    background: url(pic/auto/npc1/b2.png);
    transform: none;
}


.b-npc1-a>div>div:nth-child(3) {
    width: 90px;
    height: 222px;
    background: url(pic/auto/npc1/b4.png);
    transform: none;
}

.b-nar-a>div>div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%);
}