.teacher{
    color: #00aaee;
}
@keyframes kc-fadeIn {
    0% {
        display: none;
        transform: translate(0, 30px);
        opacity: 0;
    }

    1% {
        display: block;
        transform: translate(0, 30px);
        opacity: 0;
    }

    100% {
        display: block;
        transform: translate(0, 0px);
        opacity: 1;
    }
}
@font-face {
    font-family: jp;
    src: url('font/jmumi.woff2');
}
@font-face {
    font-family: tw;
    src: url('font/mumi.woff2');
}

.hukidasi {
    transition: opacity .33s;
    display: none;
    z-index: 50;
    position: fixed;
    /* left: 50%;
    top:50%; */
}
.hukidasi div {
    transform: translate(-50%, -50%);
}
/* maybe remove after stretch box done*/
.hukidasi .b-text {
    position: absolute;
    left: 50px;
    transform: translateY(53%); }

.fontPreload {
    font-family: jp;
}
.b-text {
    font-family: jp;
    line-height: 1.2;
    border: none;
    font-size: 30px;
    overflow: hidden;
    outline: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    height: 124px;
    width: 263px;
    white-space: pre-wrap;
}

.b-mob > div:nth-child(2){   
    width: 340px;
    height: 225px;
    position: absolute; 
    background: url(pic/bg_balloon_npc_1.png);}

.b-nar > div:nth-child(2){  
    width: 340px;
    height: 225px;
    position: absolute; 
    background: url(pic/bg_balloon_narration_1.png);}
.b-nar > div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%); }



.b-usr1 > div:nth-child(2) {
    width: 340px;
    height: 225px;
    position: absolute; 
    background: url(pic/bg_balloon_user_1.png);}
.b-usr1 > div:nth-child(2)>pre {
    color: white;}
.b-usr2 > div:nth-child(2) {   
    width: 340px;
    height: 230px;
    position: absolute; 
    background: url(pic/bg_balloon_user_2.png);}
.b-usr2 > div:nth-child(2)>pre {
    color: white;}
.b-usr3 > div:nth-child(2) {  
    width: 340px;
    height: 225px;
    position: absolute; 
    background: url(pic/bg_balloon_user_3.png);}
.b-usr3 > div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%); }
.b-usr4 > div:nth-child(2) {   
    width: 340px;
    height: 180px;
    position: absolute; 
    background: url(pic/bg_balloon_user_4.png);}
.b-usr4 > div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%); }


.b-npc1 > div:nth-child(1)>div {
    width: 340px;
    height: 200px;
    position: absolute;
    -webkit-mask-image: url(pic/fr_balloon_npc_1.png);
    mask-image: url(pic/fr_balloon_npc_1.png);
    background-color: red;}
.b-npc1 > div:nth-child(2) {
    width: 340px;
    height: 200px;
    position: absolute; 
    background: url(pic/bg_balloon_npc_1.png);}
.b-npc1 > div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%); }

.b-npc2 > div:nth-child(1)>div {
    width: 340px;
    height: 220px;
    position: absolute;
    -webkit-mask-image: url(pic/fr_balloon_npc_2.png);
    mask-image: url(pic/fr_balloon_npc_2.png);
    background-color: red;}
.b-npc2 > div:nth-child(2) {
    width: 340px;
    height: 220px;
    position: absolute; 
    background: url(pic/bg_balloon_npc_2.png);}
.b-npc2 > div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%); }

.b-npc3 > div:nth-child(1)>div {
    width: 340px;
    height: 200px;
    position: absolute;
    -webkit-mask-image: url(pic/fr_balloon_npc_3.png);
    mask-image: url(pic/fr_balloon_npc_3.png);
    background-color: red;}
.b-npc3 > div:nth-child(2) {
    width: 340px;
    height: 200px;
    position: absolute; 
    background: url(pic/bg_balloon_npc_3.png);}
.b-npc3 > div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%); }
