/* maybe remove after stretch box done not gonna happen shitty scale glitch QQ*/

#b-test {
    width: auto;
}

.faki {
    width: 420px;
}

.bb-mob>div:nth-child(2) {
    width: 520px;
    height: 225px;
    position: absolute;
    background: url(pic/big/bg_balloon_npc_1.png);
}

.bb-nar>div:nth-child(2) {
    width: 520px;
    height: 225px;
    position: absolute;
    background: url(pic/big/bg_balloon_narration_1.png);
}

.bb-nar>div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%);
}

.bb-usr1>div:nth-child(2) {
    width: 520px;
    height: 225px;
    position: absolute;
    background: url(pic/big/bg_balloon_user_1.png);
}

.bb-usr1>div:nth-child(2)>pre {
    color: white;
}

.bb-usr2>div:nth-child(2) {
    width: 520px;
    height: 230px;
    position: absolute;
    background: url(pic/big/bg_balloon_user_2.png);
}

.bb-usr2>div:nth-child(2)>pre {
    color: white;
}

.bb-usr3>div:nth-child(2) {
    width: 520px;
    height: 225px;
    position: absolute;
    background: url(pic/big/bg_balloon_user_3.png);
}

.bb-usr3>div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%);
}

.bb-usr4>div:nth-child(2) {
    width: 520px;
    height: 180px;
    position: absolute;
    background: url(pic/big/bg_balloon_user_4.png);
}

.bb-usr4>div:nth-child(2)>pre {
    color: white;
    transform: translateY(32%);
}

.bb-npc1>div:nth-child(1)>div {
    width: 520px;
    height: 200px;
    position: absolute;
    -webkit-mask-image: url(pic/big/fr_balloon_npc_1.png);
    mask-image: url(pic/big/fr_balloon_npc_1.png);
    background-color: red;
}

.bb-npc1>div:nth-child(2) {
    width: 520px;
    height: 200px;
    position: absolute;
    background: url(pic/big/bg_balloon_npc_1.png);
}

.bb-npc1>div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%);
}

.bb-npc2>div:nth-child(1)>div {
    width: 520px;
    height: 220px;
    position: absolute;
    -webkit-mask-image: url(pic/big/fr_balloon_npc_2.png);
    mask-image: url(pic/big/fr_balloon_npc_2.png);
    background-color: red;
}

.bb-npc2>div:nth-child(2) {
    width: 520px;
    height: 220px;
    position: absolute;
    background: url(pic/big/bg_balloon_npc_2.png);
}

.bb-npc2>div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%);
}

.bb-npc3>div:nth-child(1)>div {
    width: 520px;
    height: 200px;
    position: absolute;
    -webkit-mask-image: url(pic/big/fr_balloon_npc_3.png);
    mask-image: url(pic/big/fr_balloon_npc_3.png);
    background-color: red;
}

.bb-npc3>div:nth-child(2) {
    width: 520px;
    height: 200px;
    position: absolute;
    background: url(pic/big/bg_balloon_npc_3.png);
}

.bb-npc3>div:nth-child(2)>pre {
    position: absolute;
    left: 50px;
    transform: translateY(53%);
}