.mouseDown {
    cursor: none;
    /* cursor: url("C:/Users/KC/Desktop/R/tyrano_live2dplugin_v214/public/data/others/kc/pic/otete.png") 64 64, auto; */
}

#otete {
    background-image: url(pic/otete.png);
    position: absolute;
    display: none;
    width: 237px;
    height: 237px;
    z-index: 666;
    transform: translate(-50%, -50%) scale(.7);
}

#nadeZone {
    position: absolute;
    z-index: 6666;
}